.content { margin-left: 15px; margin-right: 15px; max-width: 720px; overflow: auto; }

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

/*******************************************************************************
Theme Styles
*******************************************************************************/
* { color: inherit; box-sizing: border-box; }

body { box-sizing: border-box; color: #373737; background: #f2f2f2; font-size: 16px; font-family: "Roboto", sans-serif; line-height: 1.5; -webkit-font-smoothing: antialiased; }

header { background-color: #006b71; }
@media print { header { background-color: white; } }

h1, h2, h3, h4, h5, h6 { margin: 10px 0; font-weight: 700; color: #373737; letter-spacing: -1px; }

h1 { font-size: 36px; font-weight: 700; }

h2 { font-size: 32px; }

h3 { font-size: 24px; }

h4 { font-size: 21px; }

h5 { font-size: 18px; }

h6 { font-size: 16px; }

p { margin: 10px 0 15px 0; overflow-wrap: break-word; word-wrap: break-word; }
@media print { p { text-align: justify; } }

a { text-decoration: none;}

a:hover, a:focus { text-decoration: underline; }

em, cite { font-style: italic; }

strong { font-weight: bold; }

img { max-width: 100%; }

blockquote { color: #373737; margin-bottom: 20px; padding: 0 0 0 20px; border-left: 3px solid #006b71; }

ul, ol, dl { margin-bottom: 15px; }

ul { list-style-position: inside; list-style: disc; padding-left: 20px; }

ol { list-style-position: inside; list-style: decimal; padding-left: 20px; }

dl dt { font-weight: bold; }

dl dd { padding-left: 20px; font-style: italic; }

dl p { padding-left: 20px; font-style: italic; }

hr { height: 1px; margin-bottom: 5px; border: none; }

table { border: 1px solid #373737; margin-bottom: 20px; text-align: left; }

th { padding: 10px; background: #373737; color: #fff; }

td { padding: 10px; border: 1px solid #373737; }

form { background: #f2f2f2; padding: 20px; }

code { font-family: monospace; background: #e8e8e8; padding: 0.1em 0.25em; border-radius: 0.2rem; }
@media print { code { background: none; } }

pre { font-family: monospace; overflow: auto; }

pre > code { background: #002b36; display: block; font-size: 14px; }

*:focus { outline: none; }

@media screen and (max-width: 480px) { body { font-size: 14px; }
  h1 { font-size: 28px; }
  h2 { font-size: 24px; }
  h3 { font-size: 21px; }
  h4 { font-size: 18px; }
  h5 { font-size: 14px; }
  h6 { font-size: 12px; }
  code, pre { font-size: 11px; } }
@media screen and (max-width: 320px) { body { font-size: 14px; }
  h1 { font-size: 24px; }
  h2 { font-size: 21px; }
  h3 { font-size: 18px; }
  h4 { font-size: 16px; }
  h5 { font-size: 14px; }
  h6 { font-size: 12px; }
  code, pre { min-width: 240px; max-width: 320px; font-size: 11px; } }
figure { text-align: center; padding: 10px; margin: 10px 0 10px 0; }

figcaption { font-size: 90%; }

svg { max-width: 100%; }

/*******************************************************************************
Particular styles
*******************************************************************************/

:root {
    --div-width: 1mm;
    --accent-color: #ebebeb;
}

.page {
    background: white;
    overflow: hidden;
    width: 21cm;
    height: 29.6cm;
}

.all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5cm;
    grid-template-rows: auto 1fr 1fr 1fr;
}

.week{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "mon mon mon"
    "tues tues tues"
    "wed wed wed"
    "thur thur thur"
    "fri fri fri"
    "sat sun calendar";
    padding-left: 0.5cm;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}

.side-bar{
    grid-area: side-bar;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.side-month{
    writing-mode: vertical-lr;
    flex-grow: 1;
}

.side-home{
    flex-grow: 1;
    align-self: center;
}

.title{
    display: block;
    grid-column: 1 / 4;
    text-align: center;
    margin: 1cm 0;
}

.calendar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-right: 0.5cm;
}

.cal-month{
    grid-column: 1;
    grid-column-end: span 7;
    background: var(--accent-color);
    font-weight: 500;
    border: solid #373737 0;
    border-bottom-width: 0.5mm;
}

.all .cal-month{
    border-top-width: 0.5mm;
}

.cal-day{
    font-weight: 500;
}

.cal-week{
    font-weight: 700;
}

.all .cal-other-month{
    visibility: hidden;
}

.day{
    position: relative;
    display: grid;
    column-gap: 0.5cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    padding-bottom: 0.5cm;
    grid-template-columns: 1fr 1fr;
    border: #373737 solid 0px;
    font-weight: 500;
    overflow: hidden;
}

.home{
    height: 100%;
}   

.home-anchor{
    height: 1.1cm;
    width: calc(1.1cm * 4 /5);
    position: absolute;
    background: white;
    right: 0;
    padding: 2mm 0 1mm 2mm;
}

.day-title{
    position: absolute;
    display: grid;
    background: white;
    padding-right: 0.5cm;
    margin-top: 0.05cm;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "num name"
    "num month"
    ;
}

.day-num{
    grid-area: num;
    margin: 0;
    margin-right: 0.25cm;
    font-size: 30px;
}

.day-name{
    grid-area: name;
    margin: 0;
    font-weight: 400;
}

.day-month{
    grid-area: month;
    margin: 0;
    font-weight: 300;
    line-height: 1em;
}

.lines{
    display: block;
    flex-grow: 1;
    border: solid 0 #808080;
    border-width: 0 0 0.2mm 0;
}

.monday{
    grid-area: mon;
    border-width: 0 0 var(--div-width) 0;
}

.tuesday{
    grid-area: tues;
    border-width: 0 0 var(--div-width) 0;
}

.wednesday{
    grid-area: wed;
    border-width: 0 0 var(--div-width) 0;
}

.thursday{
    grid-area: thur;
    border-width: 0 0 var(--div-width) 0;
}

.friday{
    grid-area: fri;
    border-width: 0 0 var(--div-width) 0;
}

.saturday{
    grid-area: sat;
    border-width: 0 0 0 0;
    grid-template-columns: 1fr;
    margin-right: 0;
    padding-right: 0.5cm;
}

.sunday{
    grid-area: sun;
    display: flex;
    flex-direction: column;
    border-width: 0 var(--div-width) 0 var(--div-width);
    grid-template-columns: 1fr;
    margin: 0;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

/* Screen */
@media screen {
	.page {
        box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
        margin: 30mm 45mm 30mm 45mm;
	}
}

/* Print styles */
@media print {
	.page {

		/* Force page breaks after each .page element of the document */
		page-break-after: always;
	}
}